.HorizonArt {
    border: 4px solid black;
    border-radius: 20px;
    background-color: white; 
}

.parrafo {
    background-color: white;
    padding: 10px;
    border: 5px solid black; 
}

.LolArt {
    border: 3px solid black;
    background-color: white;
}

.art {
    background-color: white;
    padding: 10px;
    border: 5px solid black; 
}