* {
    padding: 0%;
    margin: 0%; }

body {
  background-image: url(../imagenes/pattern-one.webp); 
  font-family: 'Heebo', sans-serif;
}

.blue {
  background-color: #28405f; 
}

footer {
  background-color: #28405f;
  padding: 15px;
  margin-bottom: 0%; 
}  

.form {
  background-color: white;
  border-radius: 25px;
  border: solid black; 
}
#pie ul li{
  margin: 5px;
  display:inline-block;
  color: white; 
}

.iconos {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;}

.icon{
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  
}

  
.iconos ul:hover img{
  filter: blur(2px) ;
}


.iconos ul img:hover {
  filter:none ;
  transform: translateY(-3px)scale(1.05);
  
}
