.HorizonPic {
    border: 5px solid black;
    border-radius: 20px; 
}

.LOGO {
    width: 200px;
    height: 50px; 
}

.TotalWar {
    border: 5px solid black;
      border-radius: 5px;
}

.ImgElden {
  border: 5px solid black;
  border-radius: 5px;
}

.KOF{
    border: 5px solid black;
    border-radius: 5px;
}

.TS{
    border: 5px solid black;
    border-radius: 5px;
}

.HFW{
    border: 5px solid black;
    border-radius: 5px;
}

.FF{
    border: 5px solid black;
    border-radius: 5px;
}

.ELEX2{
    border: 5px solid black;
    border-radius: 5px;
}

.TUNIC{
    border: 5px solid black;
    border-radius: 5px;
}

.carrusel {
    border: 5px solid black;
    border-radius: 5px;
}

.ImgLol {
    border: 4px solid black;
    border-radius: 20px;
    background-color: white;
}

.ImgMapa {
    border: 5px solid black;
}

.arrow{
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    width: 100px;
}