@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/*
selector{
    propiedad:valor;


}*/
* {
  padding: 0%;
  margin: 0%; }

body {
  background-image: url(../imagenes/pattern-one.webp); }

.titulo {
  display: block;
  margin: auto;
  width: 600px;
  background-color: white;
  border: 3px solid black;
  border-radius: 50px; }

.titulo1:hover {
  color: white;
  background-color: #28405f;
  transform: scale(2);
  transition-property: all;
  transition-duration: 1s; }

.titulo2:hover {
  color: white;
  transform: scale(2);
  transition-property: all;
  transition-duration: 1s;
  background-color: #28405f; }

.horizon {
  display: block;
  margin: auto;
  width: 700px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: white; }

.HorizonPic {
  display: block;
  margin: auto;
  width: 800px;
  height: 450px;
  border: 5px solid black;
  border-radius: 20px; }

.HorizonArt {
  display: block;
  margin: auto;
  width: 700px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: white; }

.HorizonArt2 {
  display: block;
  margin: auto;
  width: 700px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: white; }

.HorizonArt3 {
  display: block;
  margin: auto;
  width: 700px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: white; }

.LOGO {
  width: 200px;
  height: 50px; }

.blue {
  background-color: #28405f; }

.TotalWar {
  display: block;
  margin: auto;
  width: 800px;
  height: 450px;
  margin-top: 40px; }

.Elden {
  display: block;
  margin: auto; }

.ImgElden {
  display: block;
  margin: auto;
  width: 800px;
  height: 450px; }

.parrafo {
  display: block;
  margin: auto;
  background-color: white;
  padding: 10px;
  width: 800px;
  border: 5px solid black; }

.carrusel {
  display: block;
  margin: auto;
  width: 800px;
  height: 450px; }

.lol {
  display: block;
  margin: auto;
  width: 450px;
  border: 5px solid black;
  background-color: white;
  padding: 10px;
  color: black; }

.lolh2 {
  display: block;
  margin: auto; }

.LolArt {
  display: block;
  margin: auto;
  border: 3px solid black;
  background-color: white;
  width: 800px; }

.ImgLol {
  display: block;
  margin: auto;
  width: 800px; }

.VideoLol {
  display: block;
  margin: auto; }

.art {
  display: block;
  margin: auto;
  background-color: white;
  padding: 10px;
  width: 790px;
  border: 5px solid black; }

.form {
  background-color: white;
  border-radius: 25px;
  border: solid black; }

footer {
  background-color: #28405f;
  padding: 15px;
  margin-bottom: 0%; }

.ImgMapa {
  border: 5px solid black;
  display: block;
  margin: auto; }

#pie {
  color: white; }
