@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
/*
selector{
    propiedad:valor;


}*/
* {
  padding: 0%;
  margin: 0%; }

body {
  background-image: url(../imagenes/pattern-one.webp); 
  font-family: 'Heebo', sans-serif;
}

.titulo {
  margin: auto;
  width: 30%;
  background-color: white;
  border: 3px solid black;
  border-radius: 25px; }

.titulo1:hover {
  color: white;
  background-color: #28405f;
  transform: scale(2);
  transition-property: all;
  transition-duration: 1s; }

.titulo2:hover {
  color: white;
  transform: scale(2);
  transition-property: all;
  transition-duration: 1s;
  background-color: #28405f; }

.horizon {
  border: 4px solid black;
  border-radius: 20px;
  background-color: white; }

.HorizonPic {
  border: 5px solid black;
  border-radius: 20px; }

.HorizonArt {
  border: 4px solid black;
  border-radius: 20px;
  background-color: white; }

.LOGO {
  width: 200px;
  height: 50px; }

.blue {
  background-color: #28405f; }

.TotalWar {
  border: 5px solid black;
    border-radius: 5px;
}

.Elden {
  display: block;
  margin: auto; }

.ImgElden {
  border: 5px solid black;
  border-radius: 5px;
}

.KOF{
  border: 5px solid black;
  border-radius: 5px;
}

.TS{
  border: 5px solid black;
  border-radius: 5px;
}

.HFW{
  border: 5px solid black;
  border-radius: 5px;
}

.FF{
  border: 5px solid black;
  border-radius: 5px;
}

.ELEX2{
  border: 5px solid black;
  border-radius: 5px;
}

.TUNIC{
  border: 5px solid black;
  border-radius: 5px;
}
.parrafo {
  background-color: white;
  padding: 10px;
  border: 5px solid black; }

.carrusel {
  border: 5px solid black;
  border-radius: 5px;
  }


.lolh2 {
  background-color: white;
  border: 5px solid black;
  border-radius: 5px;
  }

.LolArt {
  border: 3px solid black;
  background-color: white;
 }

.ImgLol {
  border: 4px solid black;
  border-radius: 20px;
  background-color: white;
   }

.VideoLol {
  display: block;
  margin: auto; }

.art {
  background-color: white;
  padding: 10px;
  border: 5px solid black; }

.form {
  background-color: white;
  border-radius: 25px;
  border: solid black; }

footer {
  background-color: #28405f;
  padding: 15px;
  margin-bottom: 0%; }

.ImgMapa {
  border: 5px solid black;
  }

.arrow{
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;
  width: 100px;
}

#pie{
  display: flex;
  flex-direction:row;
  justify-content: center;
  color: white; }

